@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.banner-left::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  border: 1px solid rgb(219, 219, 247);
  /* border: 1px solid rgba(91, 122, 201, 0.918); */
  height: 60%;
  width: 60%;
  z-index: -1;
  left: -7%;
  top: 5%;
}

.fileUploader::-webkit-file-upload-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  transition: all 0.5s;
  padding: 0 1rem;
  font: 500 0.9rem cursive;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(217, 224, 235);
  border-radius: 5px;
}

.fileUploader::-webkit-file-upload-button:hover {
  background-color: rgb(191, 214, 248);
  transform: translateY(-5px) scaleX(1.1);
}

.navBarList:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  animation: hoverInForNavBar 0.4s linear forwards;
  height: 2px;
  background-color: rgba(0, 68, 255, 0.62);
}

::-webkit-scrollbar {
  width: 2px;
}

/* hambeburge */

.hameBurger.active span:nth-child(2) {
  animation: slideLeft 0.4s linear forwards;

}

.hameBurger.active span:nth-child(1) {
   animation: rotateUp 0.4s 0.3s linear forwards;
}

.hameBurger.active span:nth-child(3) {
   animation: rotateDown 0.4s 0.3s linear forwards;
}



@keyframes rotateUp {

   to {
      transform: rotate(-45deg);
      position: absolute;
   }
 }

 @keyframes rotateDown {

   to {
      transform: rotate(45deg);
   }
 }


@keyframes slideLeft {
  from {
    transform: translateX(0px);
    opacity: 100;
  }
  to {
    transform: translateX(-8px);
    opacity: 0;
    margin: 0;
    background-color: transparent;
  }
}

@keyframes hoverInForNavBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* if you want a element remains whole time there at certain area use fixed */

@media only screen and (max-width: 720px) {
  .sideBar{
    width: 0%;
    left:-50%;
    position: fixed;  
    height: 110vh;
    background-color: white;
    z-index: 20;
    flex-direction: column;
    top:0;
    transition: all 0.5s ease-in-out;
    justify-content: center;
  }
}



/* query for userList */
@media (min-width: 550px) and (max-width: 940px) {
    #userListTable{
      width: 180%;
    }
}

@media (min-width: 270px) and (max-width: 549px) {
  #userListTable{
    width: 300%;
  }
}

@media (min-width: 50px) and (max-width: 269px) {
  #userListTable{
    width: 450%;
  }
}

/* query for courseList */
@media (min-width: 700px) and (max-width: 1100px) {
  #courseListTable{
    width: 200%;
  }
}

/* query for courseList */
@media (min-width: 300px) and (max-width: 699px) {
  #courseListTable{
    width: 350%;
  }
}

@media (min-width: 50px) and (max-width: 299px) {
  #courseListTable{
    width: 550%;
  }
}